In [2]:
import dask.dataframe as ddf
import time
import pandas as pd

In [3]:
df = ddf.read_csv('random_people.csv')

In [8]:
df.head(1)

   Unnamed: 0   name  surname  salary
0           0  Henry  Joneson    5000

In [9]:
df['bonus'] = df['salary']*.5

In [4]:
dfo = pd.read_csv('random_people.csv')

In [15]:
dfo['bonus'] = dfo['salary']*.5

In [5]:
def benchmark(function, function_name):
    start = time.time()
    function()
    end = time.time()
    print("{0} seconds for {1}".format((end - start), function_name))

In [6]:
def get_bonus(df):
    df['bonus'] = df['salary']*.5

In [17]:
def test_1():
    get_bonus(df)
def test_2():
    get_bonus(dfo)

In [19]:
benchmark(test_1, 'dataframe nuevo')
benchmark(test_2, 'dataframe viejo')

0.00410199165344 seconds for dataframe nuevo
0.000637054443359 seconds for dataframe viejo

In [21]:
dfo.shape

(50, 5)

In [19]:
df2 = pd.concat([dfo for _ in range(1000)])

df3 = pd.concat([df2 for _ in range(500)])

In [20]:
df3.shape

(25000000, 4)

In [18]:
del df3

In [29]:
df2['bonus'] = df2['salary']*.5

In [79]:
def test_big():
    get_bonus(dfn)
def test_big_old():
    get_bonus(df3)

def get_big_mean():
    return dfn.salary.mean()
def get_big_mean_old():
    return df3.salary.mean()

def get_big_max():
    return dfn.salary.max()
def get_big_max_old():
    return df3.salary.max()

def get_big_sum():
    return dfn.salary.max()
def get_big_sum_old():
    return df3.salary.max()

def filter_df():
    df = dfn[dfn['salary']>5000]
    
def filter_df_old():
    df = df3[df3['salary']>5000]
def run_benchmarks():
    for i,f in enumerate([test_big, test_big_old,
                          get_big_mean, get_big_mean_old,
                          get_big_max, get_big_max_old,
                          get_big_sum, get_big_sum_old,
                          filter_df,filter_df_old]):
        benchmark(f, "big"+f.__name__)

In [80]:
run_benchmarks()

0.181474924088 seconds for bigtest_big
0.35164308548 seconds for bigtest_big_old
0.10950088501 seconds for bigget_big_mean
0.301284790039 seconds for bigget_big_mean_old
0.00139784812927 seconds for bigget_big_max
0.388199090958 seconds for bigget_big_max_old
0.00134587287903 seconds for bigget_big_sum
0.31352186203 seconds for bigget_big_sum_old
0.00271701812744 seconds for bigfilter_df
4.00510907173 seconds for bigfilter_df_old

In [24]:
dfn = ddf.from_pandas(df3, npartitions=2)