In [1]:
import dask.dataframe as ddf
import time
import pandas as pd

In [2]:
df = ddf.read_csv('random_people.csv')

In [ ]:
df.head(1)

In [3]:
df['bonus'] = df['salary']*.5

In [4]:
dfo = pd.read_csv('random_people.csv')

In [ ]:
dfo['bonus'] = dfo['salary']*.5

In [5]:
def benchmark(function, function_name):
    start = time.time()
    function()
    end = time.time()
    print("{0} seconds for {1}".format((end - start), function_name))

In [6]:
def get_bonus(df):
    df['bonus'] = df['salary']*.5

In [7]:
def test_1():
    get_bonus(df)
def test_2():
    get_bonus(dfo)

In [8]:
benchmark(test_1, 'dataframe nuevo')
benchmark(test_2, 'dataframe viejo')

0.00440096855164 seconds for dataframe nuevo
0.00223088264465 seconds for dataframe viejo

In [11]:
dfo.shape

(50, 5)

In [13]:
df2 = pd.concat([dfo for _ in range(1000)])

df3 = pd.concat([df2 for _ in range(500)])

In [20]:
dfn = ddf.from_pandas(df3, npartitions=2)

In [25]:
df4 = df2[df2.salary > 2000]

In [29]:
df4.head(10)

   Unnamed: 0     name  surname  salary   bonus
0           0    Henry  Joneson    5000  2500.0
1           1   Albert  Goodman   10000  5000.0
2           2  William  Goodman   10000  5000.0
3           3     John  Joneson   10000  5000.0
4           4   Albert    Black   10000  5000.0
5           5    Henry  Joneson   12000  6000.0
6           6  Richard    Green    5500  2750.0
7           7    Henry  Joneson   11000  5500.0
8           8    Henry  Goodman   12000  6000.0
9           9   Albert  Joneson   11000  5500.0

In [ ]:
df2['bonus'] = df2['salary']*.5

In [21]:
def test_big():
    get_bonus(dfn)
def test_big_old():
    get_bonus(df3)

def get_big_mean():
    return dfn.salary.mean()
def get_big_mean_old():
    return df3.salary.mean()

def get_big_max():
    return dfn.salary.max()
def get_big_max_old():
    return df3.salary.max()

def get_big_sum():
    return dfn.salary.max()
def get_big_sum_old():
    return df3.salary.max()

def filter_df():
    df = dfn[dfn['salary']>5000]
def filter_df_old():
    df = df3[df3['salary']>5000]
    
def run_benchmarks():
    for i,f in enumerate([test_big, test_big_old,
                          get_big_mean, get_big_mean_old,
                          get_big_max, get_big_max_old,
                          get_big_sum, get_big_sum_old,
                          filter_df,filter_df_old]):
        benchmark(f, f.__name__)

In [22]:
def f(x):
    return (13*x+5)%7

def apply_random_old():
    df3['random']= df3['salary'].apply(f)
    
def apply_random():
    dfn['random']= dfn['salary'].apply(f)

In [23]:
run_benchmarks()
benchmark(apply_random, apply_random.__name__)
benchmark(apply_random_old, apply_random_old.__name__)

0.67996096611 seconds for bigtest_big
5.67131209373 seconds for bigtest_big_old
8.63368606567 seconds for bigget_big_mean
0.293563127518 seconds for bigget_big_mean_old
0.0645699501038 seconds for bigget_big_max
0.285101890564 seconds for bigget_big_max_old
0.00136804580688 seconds for bigget_big_sum
0.285794019699 seconds for bigget_big_sum_old
1.75679898262 seconds for bigfilter_df
60.6916968822 seconds for bigfilter_df_old
78.7503149509 seconds for bigapply_random_old

/usr/local/lib/python2.7/dist-packages/dask/dataframe/core.py:2165: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  warnings.warn(msg)

11.019559145 seconds for bigapply_random